#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "minetest"
name = "Minetest"
description.en = "Voxel game engine and game. Need a client to connect to the server"
description.fr = "Moteur de jeu de type « bac à sable ». Nécessite un client pour se connecter au serveur"

version = "5.14.0~ynh1"

maintainers = []

[upstream]
license = "MIT"
website = "http://www.minetest.net"
code = "https://github.com/minetest/minetest"
fund = "https://www.minetest.net/get-involved/#donate"

[integration]
yunohost = ">= 11.2"
architectures = "all"
multi_instance = true

ldap = "not_relevant"
sso = "not_relevant"

disk = "50M"
ram.build = "2000M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.game]
    ask.en = "Choose a game for your server"
    ask.fr = "Choissisez un jeu pour votre serveur"
    type = "select"
    choices = ["minetest_game", "capturetheflag", "mineclonia", "mineclone2"]
    default = "minetest_game"

    [install.servername]
    ask.en = "Choose a name for your server"
    ask.fr = "Choissisez un nom pour votre serveur"
    type = "string"
    default = "Minetest server"

    [install.pvp]
    ask.en = "Whether to enable players killing each other"
    ask.fr = "Permettre aux joueurs de s'entre-tuer"
    type = "boolean"
    default = false

    [install.creative]
    ask.en = "Whether to enable creative mode (unlimited inventory)"
    ask.fr = "Permettre l'utilisation du mode créatif (inventaire illimité)"
    type = "boolean"
    default = false

    [install.damage]
    ask.en = "Enable players getting damage and dying"
    ask.fr = "Permettre aux joueurs de subir des dégâts et de mourir"
    type = "boolean"
    default = true

[resources]
    [resources.sources]
    [resources.sources.minetest_game]
    url = "https://github.com/minetest/minetest_game/archive/refs/tags/5.8.0.tar.gz"
    sha256 = "33a3bb43b08497a0bdb2f49f140a2829e582d5c16c0ad52be1595c803f706912"
    autoupdate.upstream = "https://github.com/minetest/minetest_game"
    autoupdate.strategy = "latest_github_tag"

    [resources.sources.main]
    url = "https://github.com/minetest/minetest/archive/refs/tags/5.14.0.tar.gz"
    sha256 = "b9f561fa37db3c7ea1b8ba15cfede8282b7a79b9e939b0357269c8b037cf5aea"
    autoupdate.strategy = "latest_github_release"

    [resources.sources.irrlichtmt]
    url = "https://github.com/minetest/irrlicht/archive/refs/tags/1.9.0mt15.tar.gz"
    sha256 = "12d24380a19be51cab29f54ae48fe08b327789da9c4d082ff815df60393d643f"
    autoupdate.upstream = "https://github.com/minetest/irrlicht"
    autoupdate.strategy = "latest_github_release"
    autoupdate.version_regex = "^(.*)mt(.*)$"

    [resources.sources.capturetheflag]
    url = "https://github.com/MT-CTF/capturetheflag/archive/refs/tags/v3.11.tar.gz"
    sha256 = "85a8ae0054f652415ef94688ce5eaf6e6e0f6b9496b2ccc84dac3a3b990f90e6"
    autoupdate.upstream = "https://github.com/MT-CTF/capturetheflag"
    autoupdate.strategy = "latest_github_release"

    [resources.sources.mineclonia]
    url = "https://codeberg.org/mineclonia/mineclonia/archive/0.116.1.tar.gz"
    sha256 = "4da55cb10ccba579e59349c206bdce5c7cc8148a2807f18694148cc4d708688d"
    autoupdate.upstream = "https://codeberg.org/mineclonia/mineclonia"
    autoupdate.strategy = "latest_forgejo_release"

    [resources.sources.mineclone2]
    url = "https://git.minetest.land/VoxeLibre/VoxeLibre/archive/0.90.1.tar.gz"
    sha256 = "a27ce408127b69993fbd34ae9e61b505f6e98ed3f88a283245a8d746431edd09"
    autoupdate.upstream = "https://git.minetest.land/VoxeLibre/VoxeLibre"
    autoupdate.strategy = "latest_gitea_tag"

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]
    subdirs = [".minetest/worlds"]

    [resources.permissions]
    main.allowed = "visitors"

    [resources.ports]
    main.default = 30000
    main.exposed = "UDP"

    [resources.apt]
    packages = ["build-essential", 
                "cmake", 
                "libsqlite3-dev",
                "libcurl4-dev",
                "zlib1g-dev",
                "libgmp-dev",
                "libjsoncpp-dev",
                "libzstd-dev"]
    packages_from_raw_bash = """
    if [[ $YNH_DEBIAN_VERSION = "bullseye" ]]; then
        echo "libluajit-5.1-dev";
    elif [[ $YNH_DEBIAN_VERSION = "bookworm" ]]; then
        echo "libluajit2-5.1-dev";
    fi
    """
